body{
    margin: 0;
    overflow: hidden;
    /* background: rgb(55, 100, 144); */
    background-color: white;
}

img {
    width: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

